# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of `go build`
*.out

# Testing binary
*.test

# Output of `go run`
jsonplaceholder

# Dependency directories (vendor/)
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
